extends layout

block content
  p register
  form(action='/auth/register', method='post')
    input(type='text',name='userId')
    input(type='text', name='userName')
    input(type='password', name='userPassword')
    input(type='text',name='userBirth')
    input(type='text', name='userGender')
    input(type='text', name='userPhoneNumber')
    input(type='submit', value='register')
